@{
    ViewBag.Title = "Home Page";
}

<hr/>

<div class="row">
    <div class="col-md-12"></div>
<img src="~/Content/Images/Russia2018Logo.jpg" class="img-responsive center-block"/>
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        <a href="#" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-circle-arrow-down"></span>
            Teams
        </a>
    </div>

    <div class="col-md-6">
        <a href="#" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-circle-arrow-down"></span>
            Players
        </a>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        <a href="#" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-circle-arrow-down"></span>
            Groups
        </a>
    </div>

    <div class="col-md-6">
        <a href="#" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-circle-arrow-down"></span>
            Matches
        </a>
    </div>
</div>
